html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    margin-top: 100px;
    max-width: 400px !important;
    width: 100% !important;
}
.card {
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}
.error-validation {
    color: #ff0000;
}
.button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}
.register-link {
    text-align: center;
    margin-top: 20px;
}